
/*css for nav bar*/
body{
	background:linear-gradient(135deg,#b5b5b5,#232222);
	margin:0px;
	overflow-x:hidden;
}
.l{
	border-bottom:3px solid black;
	border-top:3px solid black;
	background-color:white;
	padding:5px;
	text-align:center;
}	
.logo{
	position:relative;
	animation-name:SI;
	animation-duration:1s;
	animation-timing-function:ease-out;
}
@keyframes SI{
	0%	{transform:translateX(-1500px);}
	100%	{transform:translateX(0px);}
}
nav{
	width:100%;
	text-align:center;
}
.ham{
	display:none;
}
#icon{
	display:none;
}
ul li{
	display:inline-block;
	list-style:none;
}
ul li a{
	color:black;
	text-decoration:none;
	margin:12px 55px;
	font-size:28px;
	font-family:Bahnschrift SemiBold;
}
.active,ul li a:hover{
	color:white;
	border-bottom:3px solid;
}
.btn{
	display:none;
}
.X{
	display:none;
}

/*css for index page*/
.ind{
	display:grid;
	grid-template-columns: 45% 50%;
	width:100%;
}
.name{
	position:relative;
	padding:60px 160px;
	width:100%;
	box-sizing:border-box;
	font-family:Impact;
	font-size:150px;
	background: -webkit-linear-gradient(135deg,#3e3d3d,#0d2a35,#3a3a3a,#3e3b3b);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	/*for text gradient https://www.youtube.com/watch?v=OAMTLkZiyJM */
}
.info{
	margin:10px 35px;
	width:100%;
	background:linear-gradient(135deg,#b7b1aa,#2f4353);
	box-sizing:border-box;
	border:4px solid black;
	box-shadow:6px 6px;
	font-family:Bahnschrift;
	font-size:29px;
}
.frame{
	float:left;
	height:160px;
	width:120px;
	border:4px solid #3b4b52;
}
.me{
	height:100%;
	width:100%;
}
.welcome{
	float:right;
	height:40px;
	width:538px;
	text-align:center;
	font-family:Bahnschrift;
	font-size:40px;
}
.info p{
	color:#1f222d;
	text-align:left;
	margin-left:5px;
}

/*css for portfolio page*/
.heading{
	margin-top:20px;
	text-align:center;
	font-family:Arial;
	font-size:30px;
	color:#1f222d;
}
.projects{
	margin-top:15px;
	width:100%;
	height:250px;
	display:grid;
	grid-template-columns:24.3% 24.3% 24.3% 24.3%;
	grid-column-gap:9px;
	box-sizing:border-box;
	border:4px solid black;
}
.p{
	width:100%;
	margin:3px 5px;
}
.img{
	position:relative;
	height:100%;
	width:100%;
	animation-name:pro;
	animation-duration:6s;
	animation-timing-function:ease-out;
	transition:transform;
}
@keyframes pro{
from{
	opacity:0;
}
to{
	opacity:1;
}
}
.img:hover{
	transform:scale(1.05);
	box-shadow:3px 3px;
}
.para{
	font-family:Arial;
	font-size:25px;
	text-align:center;
	color:#1f222d;
}
.placeholder{
	margin-top:15px;
	display:grid;
	grid-template-columns:50% 50%;
	width:100%;
	height:905px;
	box-sizing:border-box;
	border:4px solid black;
	margin-bottom:10px;
	
}
.place1{
	display:grid;
	grid-template-rows:50% 50%;
	align-content:center;
	width:99.5%;
	height:80%;
	border-right:2px solid black;
}
.place2{
	display:grid;
	grid-template-rows:50% 50%;
	align-content:center;
	width:99.5%;
	height:80%;
	border-left:2px solid black;

}
.placeimg{
	margin:80px 65px;
	height:70%;
	width:80%;
}
footer{
	clear:both;
	position:relative;
	font-family:Arial;
	font-size:25px;
	color:white;
	text-align:center;
	animation-name:foot;
	animation-duration:10s;
	animation-iteration-count:infinite;
	margin-bottom:10px;
}
@keyframes foot{
	0%	{transform:translateX(-1500px);}
	50%	{transform:translateX(0px);}
	100%	{transform:translatex(1500px);}
}

/*css for contact page */
.con{
	width:100%;
	display:grid;
	grid-template-columns:55% 35%;
}
.git{
	width:100%;
	margin:20px;
	padding-left:30px;
	text-align:center;
	align-content:center;
	font-family:Bahnschrift;
	font-size:50px;
	color:white;	
}
form{
	margin-top:20px;
	padding-left:30px;
	font-family:Arial;
	font-size:23px;
	color:#1f222d;
	text-align:left;
}
form fieldset{
	width:620px;
}
form fieldset legend{
	font-family:Arial;
	font-size:30px;
	color:black;
}
form input{
	border:2px solid black;
}
form input[type=text]{
	font-family:Arial;
	font-size:21px;
	width:300px;
}
form input[type=date]{
	font-family:Arial;
	font-size:21px;
}
form select{
	font-family:Arial;
	font-size:21px;
	border:2px solid black;
	color:#1f222d;
}	
form textarea{
	font-family:Arial;
	font-size:21px;
	border:2px solid black;
	height:200px;
	width:590px;
}
form input[type=submit]{
	width:323px;
	font-family:Arial;
	font-size:20px;
	background:#3e3b3b;
	color:white;
	margin-bottom:5px;
	margin-left:5px;
	cursor:pointer;
}
form input[type=reset]{
	width:323px;
	font-family:Arial;
	font-size:20px;
	background:#3e3b3b;
	color:white;
	margin-bottom:5px;
	cursor:pointer;
}		
form input[type=submit]:hover{
	color:black;
}
form input[type=reset]:hover{
	color:black;
}
.connect{
	text-align:center;
	margin:212px 100px 0px 80px;
	background:linear-gradient(135deg,#85929a,#2c3e50);
	padding-top:40px;
	height:400px;
	width:100%;
	font-family:Bahnschrift;
	font-size:40px;
	color:white;
	box-shadow:7px 7px black;
}
.connect ul li{
	display:block;
	font-family:Bahnschrift;
	font-size:25px;
	text-align:left;	
}
.connect ul li a{
	color:white;
	margin:0px;
	font-size:25px;
}
.connect ul li a:hover{
	border-bottom:1px solid white;
}
.media{
	height:35px;
	width:35px;
	border-radius:10px;
}

/*css for cv page*/
.cv{
	width:1000px;
	height:1170px;
	margin-top:40px;
	padding-left:170px;
}
.up{
	width:1000px;
}
table .top{
	height:80px;
	font-family:Bahnschrift;
	font-size:45px;
	background-color:#3a6275e8;
	border:3px solid black;
}
.edu{
	float:right;
	height:958px;
	width:600px;
	background-color:#beb6ec;
}
table .middle{
	font-family:Bahnschrift;
	font-size:30px;
	background-color:#7c939ee8;
}
table .history{
	font-family:Arial;
	font-size:23px;
	color:#1f222d;
}
.pi{
	float:left;
	width:400px;
	height:958px;
	background-color:#4b878bff;

}
table .left-top{
	height:214px;
}
table .cvpic{
	width:150px;
	height:200px;
	border-radius:120px;
}
table .pinfo{
	font-family:Bahnschrift;
	font-size:30px;
	background-color:#6ca0b9e8;
}
table .details{
	font-family:Arial;
	font-size:23px;
	color:#1f222d;
	
}
table .bottom{
	height:70px;
	font-family:Bahnschrift;
	font-size:25px;
	background-color:#3a6275e8;
}  
table, tr, th, td{
	border:1px solid black;
}

/* for responsive*/

/*responsive for small mobile devices*/
@media only screen and (max-width:320px){
	
/*css for menu and hamburger icon */	
.logo{
	height:60px;
	width:310px;
}	
.ham{
	margin-top:5px;
	margin-left:10px;
	height:25px;
	width:30px;
	display:block;
}

nav{
	text-align:left;
	line-height:45px;
	display:block;
}

.btn{
	display:block;
	position:relative;
	top:-36px;
	left:40px;
	height:40px;
	width:40px;
	margin-left:100px;
	border-radius:50px;
	opacity:0;
}
.X{
	display:block;
	position:relative;
	top:20px;
	left:-20px;
	height:40px;
	width:40px;
	margin-left:100px;
	border-radius:50px;
}
.menu{
	display:none;
	margin-top:0px;
	
}
ul li{
	display:block;
	list-style:none;
	margin-left:20px;
	margin-top:5px;	
}
ul li a{
	padding:0px;
	margin:0px;
	color:black;
	text-decoration:none;
	font-size:25px;
	font-family:Bahnschrift SemiBold;
	
}
#icon:checked + ul{
	display:block;
	background:linear-gradient(-45deg,#2d3a46,#89b5bb);
}
/*https://www.youtube.com/watch?v=xMTs8tAapnQ*/

/* for index page*/
.ind{
	display:flex;
	flex-direction:column;
	width:100%;
}
.name{
	margin-bottom:20px;
	padding:0px;
	text-align:center;
	font-size:90px;
	width:100%;
}
.info{
	margin:10px 2px;
	width:98%;
	border:2px solid black;
	box-shadow:3px 3px;
	font-size:18px;
}
.welcome{
	height:30px;
	width:75%;
	font-size:25px;	
}
.frame{
	height:115px;
	width:23%;
	border:3px solid #3b4b52;
}

/*responsive for portfolio page*/
.heading{
	margin-top:20px;
	font-size:25px;
}
.projects{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
}
.p{
	width:97%;
	height:100%;
	border-bottom:3px solid black;
}
.para{
	font-family:Arial;
	font-size:18px;
	text-align:center;
	color:#1f222d;
}

.placeholder{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}
.place1{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%; 
	margin-bottom:0px;
	
}
.place2{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%;
}
.placeimg{
	margin:3px 0px;
	height:200px;
	width:90%;
	border-bottom:3px solid black;
}
footer{
	font-size:20px;
}

/* responsive for contact page*/
.con{
	display:flex;
	flex-direction:column;
}
.git{
	width:100%;
	margin:0px;
	padding:0px;
	font-size:40px;	
}
form{
	width:100%;
	padding:0px;
	font-size:15px;
}
form fieldset{
	width:290px;
	margin-bottom:10px;
}
form fieldset legend{
	font-size:20px;
}
form input[type=text]{
	font-size:15px;
	width:180px;
}
form input[type=date]{
	font-size:15px;
}
form select{
	font-size:15px;
}	
form textarea{
	font-size:15px;
	height:100px;
	width:280px;
}
form input[type=submit]{
	width:314px;
	font-size:20px;
	margin-left:3px;
}
form input[type=reset]{
	width:314px;
	font-size:20px;
	margin-left:3px;
}		
.connect{
	margin:5px 0px 0px 0px;
	padding-top:20px;
	height:350px;
	font-size:35px;
}
.connect ul li{
	margin-top:0px;
	font-size:18px;	
}
.connect ul li a{
	font-size:18px;	
}
.media{
	height:30px;
	width:30px;
}

/*responsive for cv page*/
.table{
	display:flex;
	justify-content:center;
}
.cv{
	width:320px;
	height:920px;
	margin-top:10px;
	padding:0px;
	align-items:center;
}
.up{
	width:320px;
}
table .top{
	width:320px;
	height:60px;
	font-size:30px;
}
.edu{
	height:710px;
	width:180px;
}
table .middle{
	font-size:20px;
}
table .history{
	font-size:12px;
}
.pi{
	width:140px;
	height:710px;
}
table .left-top{
	height:180px;
}
table .cvpic{
	width:80px;
	height:110px;
}
table .pinfo{
	font-size:20px;
}
table .details{
	font-size:12px;
}
table .bottom{
	height:50px;
	font-size:18px;
} 
}

/*responsive for medium sized mobile devices*/
@media only screen and (min-width:321px) and (max-width:375px){
	
/*css for menu and hamburger icon */	
.logo{
	height:65px;
	width:310px;
}	
.ham{
	margin-top:5px;
	margin-left:10px;
	height:25px;
	width:30px;
	display:block;
}

nav{
	text-align:left;
	line-height:45px;
	display:block;
}	
.btn{
	display:block;
	position:relative;
	top:-36px;
	left:65px;
	height:40px;
	width:40px;
	margin-left:100px;
	border-radius:50px;
	opacity:0;
}
.X{
	display:block;
	position:relative;
	top:20px;
	left:5px;
	height:40px;
	width:40px;
	margin-left:100px;
	border-radius:50px;
}
.menu{
	display:none;
	margin-top:0px;
	
}
ul li{
	display:block;
	list-style:none;
	margin-left:30px;
	margin-top:8px;	
}
ul li a{
	padding:0px;
	margin:0px;
	color:black;
	text-decoration:none;
	font-size:26px;
	font-family:Bahnschrift SemiBold;
	
}
#icon:checked + ul{
	display:block;
	background:linear-gradient(-45deg,#2d3a46,#89b5bb);
}

/* for index page*/
.ind{
	display:flex;
	flex-direction:column;
	width:100%;
}
.name{
	margin-bottom:20px;
	padding:0px;
	text-align:center;
	font-size:100px;
	width:100%;
}
.info{
	margin:10px 2px;
	width:98%;
	border:2px solid black;
	box-shadow:3px 3px;
	font-size:19px;
}
.welcome{
	height:30px;
	width:75%;
	font-size:27px;	
}
.frame{
	height:125px;
	width:23%;
	border:3px solid #3b4b52;
}

/*no change for portfolio page as it seems just fine*/
/*responsive for portfolio page*/
.heading{
	margin-top:20px;
	font-size:25px;
}
.projects{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
}
.p{
	width:97%;
	height:100%;
	border-bottom:3px solid black;
}
.para{
	font-family:Arial;
	font-size:18px;
	text-align:center;
	color:#1f222d;
}

.placeholder{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}
.place1{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%; 
	margin-bottom:0px;
	
}
.place2{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%;
}
.placeimg{
	margin:3px 0px;
	height:200px;
	width:90%;
	border-bottom:3px solid black;
}
footer{
	font-size:20px;
}

/* responsive for contact page*/
.con{
	display:flex;
	flex-direction:column;
}
.git{
	width:100%;
	margin:0px;
	padding:0px;
	font-size:42px;	
}
form{
	width:100%;
	padding:0px;
	font-size:17px;
}
form fieldset{
	width:341px;
	margin-bottom:10px;
}
form fieldset legend{
	font-size:22px;
}
form input[type=text]{
	font-size:17px;
	width:210px;
}
form input[type=date]{
	font-size:17px;
}
form select{
	font-size:17px;
}	
form textarea{
	font-size:17px;
	height:120px;
	width:333px;
}
form input[type=submit]{
	width:369px;
	font-size:20px;
	margin-left:3px;
}
form input[type=reset]{
	width:369px;
	font-size:20px;
	margin-left:3px;
}		
.connect{
	margin:5px 0px 0px 0px;
	padding-top:20px;
	height:370px;
	font-size:37px;
}
.connect ul li{
	margin-top:0px;
	font-size:20px;	
}
.connect ul li a{
	font-size:20px;	
}
.media{
	height:32px;
	width:32px;
}

/*responsive for cv page*/ 
.table{
	display:flex;
	justify-content:center;
}
.cv{
	width:360px;
	height:970px;
	margin-top:10px;
	padding:0px;
	align-items:center;
}
.up{
	width:360px;
}
table .top{
	width:340px;
	height:60px;
	font-size:33px;
}
.edu{
	height:751px;
	width:205px;
}
table .middle{
	font-size:23px;
}
table .history{
	font-size:13px;
}
.pi{
	width:155px;
	height:751px;
}
table .left-top{
	height:178px;
}
table .cvpic{
	width:90px;
	height:130px;
}
table .pinfo{
	font-size:23px;
}
table .details{
	font-size:13.5px;
}
table .bottom{
	height:50px;
	font-size:20px;
} 
}

/*responsive for large sized devices*/
@media only screen and (min-width:376px) and (max-width:425px){
	
/*css for menu and hamburger icon */
	.logo{
	height:65px;
	width:330px;
}	
.ham{
	margin-top:5px;
	margin-left:10px;
	height:28px;
	width:33px;
	display:block;
}

nav{
	text-align:left;
	line-height:45px;
	display:block;
}	
.btn{
	display:block;
	position:relative;
	top:-36px;
	left:85px;
	height:40px;
	width:40px;
	margin-left:100px;
	border-radius:50px;
	opacity:0;
}
.X{
	display:block;
	position:relative;
	top:20px;
	left:5px;
	height:40px;
	width:40px;
	margin-left:100px;
	border-radius:50px;
}
.menu{
	display:none;
	margin-top:0px;
	
}
ul li{
	display:block;
	list-style:none;
	margin-left:40px;
	margin-top:10px;	
}
ul li a{
	padding:0px;
	margin:0px;
	color:black;
	text-decoration:none;
	font-size:27px;
	font-family:Bahnschrift SemiBold;
	
}
#icon:checked + ul{
	display:block;
	background:linear-gradient(-45deg,#2d3a46,#89b5bb);
}

/* for index page*/
.ind{
	display:flex;
	flex-direction:column;
	width:100%;
}
.name{
	margin-bottom:20px;
	padding:0px;
	text-align:center;
	font-size:110px;
	width:100%;
}
.info{
	margin:10px 2px;
	width:98%;
	border:2px solid black;
	box-shadow:3px 3px;
	font-size:20px;
}
.welcome{
	height:30px;
	width:75%;
	font-size:29px;	
}
.frame{
	height:130px;
	width:23%;
	border:3px solid #3b4b52;
}

/*no change for portfolio page as it seems just fine*/
/*responsive for portfolio page*/
.heading{
	margin-top:20px;
	font-size:25px;
}
.projects{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
}
.p{
	width:97%;
	height:100%;
	border-bottom:3px solid black;
}
.para{
	font-family:Arial;
	font-size:18px;
	text-align:center;
	color:#1f222d;
}

.placeholder{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}
.place1{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%; 
	margin-bottom:0px;
	
}
.place2{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%;
}
.placeimg{
	margin:3px 0px;
	height:200px;
	width:90%;
	border-bottom:3px solid black;
}
footer{
	font-size:20px;
}

/* responsive for contact page*/
.con{
	display:flex;
	flex-direction:column;
}
.git{
	width:100%;
	margin:0px;
	padding:0px;
	font-size:45px;	
}
form{
	width:100%;
	padding:0px;
	font-size:20px;
}
form fieldset{
	width:386px;
	margin-bottom:10px;
}
form fieldset legend{
	font-size:25px;
}
form input[type=text]{
	font-size:20px;
	width:240px;
}
form input[type=date]{
	font-size:20px;
}
form select{
	font-size:20px;
}	
form textarea{
	font-size:20px;
	height:140px;
	width:378px;
}
form input[type=submit]{
	width:419px;
	font-size:21px;
	margin-left:3px;
}
form input[type=reset]{
	width:419px;
	font-size:21px;
	margin-left:3px;
}		
.connect{
	margin:5px 0px 0px 0px;
	padding-top:20px;
	height:400px;
	font-size:40px;
}
.connect ul li{
	margin-top:0px;
	font-size:22px;	
}
.connect ul li a{
	font-size:22px;	
}
.media{
	height:34px;
	width:34px;
}

/*responsive for cv page*/ 
.table{
	display:flex;
	justify-content:center;
}
.cv{
	width:390px;
	height:1080px;
	margin-top:10px;
	padding:0px;
	align-items:center;
}
.up{
	width:390px;
}
table .top{
	width:340px;
	height:60px;
	font-size:35px;
}
.edu{
	height:848px;
	width:220px;
}
table .middle{
	font-size:23px;
}
table .history{
	font-size:15px;
}
.pi{
	width:170px;
	height:848px;
}
table .left-top{
	height:219px;
}
table .cvpic{
	width:100px;
	height:150px;
}
table .pinfo{
	font-size:23px;
}
table .details{
	font-size:15px;
}
table .bottom{
	height:50px;
	font-size:22px;
}

}

/*responsive for tablet devices*/
@media only screen and (min-width:426px) and (max-width:768px){
	
/* css for bav bar*/
.logo{
	height:80px;
	width:420px;
}	
ul{
	text-align:left;
}
ul li{
	display:inline;
}
ul li a{
	margin:12px 16px;
	font-size:28px;
}

/* for index page*/
.ind{
	display:flex;
	flex-direction:column;
	width:100%;
}
.name{
	padding:0px;
	text-align:center;
	font-size:120px;
	width:100%;
}
.info{
	margin:15px 6px;
	width:98%;
	border:2px solid black;
	box-shadow:3px 3px;
	font-size:28px;
}
.welcome{
	height:30px;
	width:75%;
	font-size:35px;	
}
.frame{
	height:190px;
	width:20%;
	border:3px solid #3b4b52;
}

/*responsive for portfolio page*/
.heading{
	margin-top:20px;
	font-size:28px;
}
.projects{
	margin-left:80px;
	width:80%;
	height:30%;
	display:flex;
	flex-direction:column;
}
.para{
	font-size:22px;
}
.p{
	width:98.5%;
	height:100%;
	border-bottom:3px solid black;
}

.placeholder{
	height:100%;
	width:80%;
	margin-left:80px;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}
.place1{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%; 
	margin-bottom:0px;
	border:none;
	
}
.place2{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	height:100%;
	border:none;
}
.placeimg{
	margin:3px 0px;
	height:300px;
	width:80%;
	border-bottom:3px solid black;
}
footer{
	font-size:22px;
}

/* responsive for contact page*/
.con{
	display:flex;
	flex-direction:column;
}
.git{
	width:100%;
	margin:0px;
	margin-top:20px;
	padding:0px;
	font-size:52px;	
}
form{
	width:100%;
	padding:0px;
	font-size:22px;
}
form fieldset{
	margin-left:15px;
	width:700px;
	margin-bottom:10px;
}
form fieldset legend{
	font-size:28px;
}
form input[type=text]{
	font-size:22px;
	width:280px;
}
form input[type=date]{
	font-size:22px;
}
form select{
	font-size:22px;
}	
form textarea{
	font-size:22px;
	height:200px;
	width:695px;
}
form input[type=submit]{
	width:365px;
	font-size:20px;
	margin-left:15px;
}
form input[type=reset]{
	width:365px;
	font-size:20px;
	margin-left:3px;
}		
.connect{
	margin:5px 0px 0px 0px;
	padding-top:20px;
	padding-left:20px;
	height:380px;
	font-size:45px;
	text-align:left;
}
.connect ul li{
	margin-top:0px;
	margin-left:20px;
	font-size:28px;	
}
.connect ul li a{
	font-size:28px;	
}
.media{
	height:30px;
	width:30px;
}
.table{
	display:flex;
	justify-content:center;
}

/*responsive for cv page*/
.cv{
	width:700px;
	height:1200px;
	margin-top:20px;
	padding:0px;
	align-items:center;
}
.up{
	width:700px;
}
table .top{
	height:90px;
	font-size:40px;
}
.edu{
	height:900px;
	width:390px;
}
table .middle{
	font-size:28px;
}
table .history{
	font-size:20px;
}
.pi{
	width:310px;
	height:900px;
}
table .left-top{
	height:217px;
}
table .cvpic{
	width:130px;
	height:170px;
}
table .pinfo{
	font-size:28px;
}
table .details{
	font-size:20px;
}
table .bottom{
	height:50px;
	font-size:30px;
} 
}

/*responsive for laptops of screen 1024px*/
@media only screen and (min-width:769px)and (max-width:1024px){
	
/* css for bav bar*/
.logo{
	height:80px;
	width:420px;
}
ul li{
	display:inline;
}
ul li a{
	margin:12px 40px;
}

/*css for index page*/
.ind{
	display:grid;
	grid-template-columns: 45% 50%;
	width:100%;
}
.name{
	padding:60px 80px;
	font-size:130px;
}
.info{
	margin:10px 25px;
	box-shadow:6px 6px;
	font-size:25px;
}
.frame{
	height:135px;
	width:100px;
}
.welcome{
	width:396px;
	font-size:35px;
}

/*css for portfolio page*/

.projects{
	height:225px;
	grid-template-columns:24% 24% 24% 24%;
}
.p{
	margin:3px 6px;
}
.placeholder{
	height:750px;
}

/*css for contact page */
.git{
	margin:10px;
	padding-left:0px;
	font-size:45px;
}
form{
	padding-left:0px;
	font-size:18px;
}
form fieldset{
	width:550px;
}
form fieldset legend{
	font-size:26px;
}

form input[type=text]{
	font-size:18px;
	width:290px;
}
form input[type=date]{
	font-size:18px;
}
form select{
	font-size:18px;
}	
form textarea{
	font-size:18px;
	width:540px;
}
form input[type=submit]{
	width:273px;
	font-size:20px;
}
form input[type=reset]{
	float:right;
	width:280px;
}		
.connect{
	height:430px;
	font-size:38px;
	box-shadow:6px 6px black;
}
.connect ul li{
	display:block;
	font-family:Bahnschrift;
	font-size:23px;
	text-align:left;	
}
.connect ul li a{
	font-size:23px;
}
.media{
	height:33px;
	width:33px;
}

/*css for cv page*/
.cv{
	width:900px;
	height:1050px;
	padding-left:65px;
}
.up{
	width:900px;
}
table .top{
	height:70px;
	font-size:38px;
}
.edu{
	height:831px;
	width:520px;
}
table .middle{
	font-size:28px;
}
table .history{
	font-size:20px;
}
.pi{
	width:380px;
	height:831px;

}
table .left-top{
	height:205px;
}
table .cvpic{
	width:130px;
	height:180px;
}
table .pinfo{
	font-size:28px;
}
table .details{
	font-size:20px;
}
table .bottom{
	height:60px;
	font-size:23px;
}  
}

/*responsive for laptops of screen 1440 */
@media only screen and (min-width:1367px) and (max-width:1440px){	

/* css for bav bar*/
.logo{
	width:500px;
	height:100px;
}
ul li{
	display:inline-block;
	list-style:none;
}
ul li a{
	margin:12px 60px;
	font-size:35px;
}

/*responsive for index page*/
.name{
	padding:70px 160px;
	font-size:160px;
}
.info{
	font-size:32px;
}
.frame{
	height:170px;
}
.welcome{
	font-size:42px;
}

/*responsive for portfolio page*/
.heading{
	margin-top:30px;
	font-size:35px;
}
.projects{
	height:290px;
}
.para{
	font-size:28px;
}
.placeholder{
	height:1065px;
	margin-bottom:20px;
}
.place1{
	height:90%;
}
.place2{
	height:90%;
}
footer{
	font-size:28px;
	margin-bottom:20px;
}

/*responsive for contact page */

.git{
	margin-top:30px;
	padding-left:30px;
	font-size:55px;
	
}
form{
	padding-left:30px;
	font-size:27px;
}
form fieldset{
	width:680px;
}
form fieldset legend{
	font-size:33px;
}

form input[type=text]{
	font-size:27px;
	width:320px;
}
form input[type=date]{
	font-size:27px;
}
form select{
	font-size:27px;
}	
form textarea{
	font-size:27px;

	height:220px;
	width:670px;
}
form input[type=submit]{
	width:350px;
	font-size:25px;
	margin-left:10px;
}
form input[type=reset]{
	width:350px;
	font-size:25px;
}		
.connect{
	margin:240px 100px 0px 80px;
	height:460px;
	font-size:48px;
}
.connect ul li{
	font-size:30px;	
}
.connect ul li a{
	font-size:30px;
}
.media{
	height:40px;
	width:40px;
}

/*responsive for cv page*/
.cv{
	margin-top:60px;
	width:1150px;
	height:1450px;
	padding-left:140px;
}
.up{
	width:1150px;
}
table .top{
	height:90px;
	font-size:50px;
}
.edu{
	height:1125px;
	width:700px;
}
table .middle{
	font-size:35px;
}
table .history{
	font-size:28px;
}
.pi{
	width:450px;
	height:1125px;

}
table .left-top{
	height:254px;
}
table .cvpic{
	width:160px;
	height:220px;
}
table .pinfo{
	font-size:35px;
}
table .details{
	font-size:28px;
}
table .bottom{
	font-size:30px;
}  
}