body{
	background-color:#403f3f;
	margin:0px;
}
.l{
	background-color:white;
	padding:5px;
	text-align:center;
}	
.logo{
	position:relative;
	animation-name:SI;
	animation-duration:1s;
	animation-timing-function:ease-out;
}
@keyframes SI{
	0%	{left:-1500px;}
	100%	{left:0px;}
}
nav{
	text-align:center;
	margin-top:25px;
}
a{
	color:black;
	text-decoration:none;
	margin:0px 50px;
	font-size:24px;
	font-family:Bahnschrift SemiBold;
}
.active,a:hover{
	color:white;
	border-bottom:3px solid;
}